[core]
  editor = nvim
[credential]
  helper = manager
[merge]
  tool = nvim
[mergetool]
  prompt = true
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = nvim
;[url "git@github.com:"]
;  insteadOf = https://github.com/

[includeIf "gitdir:~/Developer/"]
  path = ~/.gitconfig.d/.weeaboo.gitconfig
[includeIf "gitdir:~/Developer/InNoobWeTrust/"]
  path = ~/.gitconfig.d/.nerd.gitconfig
[includeIf "gitdir:~/Developer/tokoinofficial/"]
  path = ~/.gitconfig.d/.work.gitconfig
[includeIf "gitdir:~/Developer/homebrew-research/"]
  path = ~/.gitconfig.d/.work.gitconfig
[includeIf "gitdir:~/Developer/rex/"]
  path = ~/.gitconfig.d/.work.collab.gitconfig
[help]
	autocorrect = 20
